/* src/components/Statistics/Statistics.css */
.statistics {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .storage-info, .last-file {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin-right: 10px; /* Espaciado entre estadísticas */
  }
  
  .storage-info h4, .last-file h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  