/* src/components/Sidebar/Sidebar.css */



/* Sección del perfil */
.profile-section {
  margin-bottom: 20px; /* Espacio inferior */
  font-size: 18px; /* Tamaño de fuente para el perfil */
  text-align: center; /* Centra el texto del perfil */
}


/* Estilos para la lista de menú */
.menu-list {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin padding */
}

/* Estilos específicos para el nombre del usuario */
.user-name {
  font-size: 16px; /* Tamaño de fuente ligeramente más pequeño */
  color: #d2d081; /* Azul suave para diferenciarlo */
  font-weight: bold;
  margin-top: 8px; /* Espacio superior */
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  padding: 5px 10px; /* Espaciado alrededor del nombre */
  border-radius: 4px; /* Bordes redondeados para suavizar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para efecto de profundidad */
}


/* Estilos para los elementos de la lista del menú */
.menu-list li {
  margin: 15px 0; /* Margen entre los elementos */
  cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
  padding: 15px; /* Espaciado interno en los elementos */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 18px; /* Aumentar el tamaño de la fuente */
  font-weight: bold; /* Hacer el texto en negrita */
  transition: background-color 0.3s, transform 0.3s; /* Transición para el fondo y transformación */
  display: flex; /* Usar flexbox para alinear icono y texto */
  align-items: center; /* Centra verticalmente el contenido */
}

/* Efecto hover en los elementos del menú, excluyendo el botón "Salir" */
.menu-list li:not(.logout-button):hover {
  background-color: #ced7df8d; /* Fondo gris suave al pasar el cursor */
  transform: translateY(-2px); /* Levanta el elemento ligeramente */
}

/* Estilos para el icono */
.icon {
  color: #00aeff; /* Cambia el color de los íconos a azul suave */
  margin-right: 15px; /* Espacio entre el ícono y el texto */
  transition: color 0.3s; /* Transición suave para el color */
}

/* Efecto hover en los elementos del menú */
.menu-list li:hover .icon {
  color: #ffffff; /* Cambia el color del ícono a blanco al pasar el cursor */
}


/* Estilos específicos para el botón de salir */
.logout-button {
  background-color: #994d4a; /* Rojo para destacar */
  color: white;
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

/* Efecto hover específico para el botón de salir */
.logout-button:hover {
  background-color: #c9302c; /* Rojo más oscuro al hacer hover */
  transform: scale(1.05); /* Ligeramente más grande al pasar el cursor */
}
