/* variables.css */

/* ============================
   Variables Globales de Colores
============================ */
:root {
    --color-verde: #668a67;
    --color-verde-oscuro: #355537;
    --color-rojo: #9b6a67;
    --color-rojo-oscuro: #7f3736;
    --color-borde-focus: #9fceff;
}
