.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid #8ab0d9; /* Borde azul suave */
}

.modal-content h3 {
  margin-bottom: 20px;
  color: #8ab0d9; /* Título en azul suave */
}

.modal-content p {
  color: #333; /* Color del texto */
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-button {
  padding: 10px 30px;
  background-color: #8ab0d9; /* Color azul del modal */
  color: white; /* Texto en blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el color */
  font-size: 16px; /* Tamaño del texto */
}

.modal-button:hover {
  background-color: #6699c1; /* Azul más oscuro al pasar el cursor */
}

.modal-button:last-child {
  background-color: #eef1bf; /* Botón "No" con un color que combine */
  color: #333; /* Color del texto para el botón "No" */
}

.modal-button:last-child:hover {
  background-color: #dcdca8; /* Color más oscuro al pasar el cursor para el botón "No" */
}
