/* ============================
   Estilos Generales
============================ */
/* src/Productos.css */

.productos-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite el desplazamiento en el contenedor */
    max-height: 80vh; /* Limita la altura máxima al 80% de la pantalla */
}

/* ============================
   Estilos de la Sección de Búsqueda
============================ */
/* General de la sección de búsqueda */
.search-section {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre los elementos */
    padding: 10px 20px;
    background-color: #f0f4f8;
    border-radius: 6px;
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilo de Input */
.search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Botones de búsqueda y limpieza */
.search-button,
.clear-button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
}

.search-button {
    background-color: #668a67; /* Verde */
}

.clear-button {
    background-color: #9b6a67; /* Rojo */
}

.search-button:hover {
    background-color: #355537; /* Verde más oscuro al pasar el mouse */
}

.clear-button:hover {
    background-color: #7f3736; /* Rojo más oscuro al pasar el mouse */
}

/* Grupo de checkboxes */
.checkbox-group {
    display: flex;
    gap: 15px; /* Espacio entre cada checkbox-item */
    align-items: center;
    margin-left: 10px; /* Ajusta este valor para mover los checkboxes hacia la derecha */
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el checkbox y su label */
}

/* ============================
   Estilos para el Botón Ocultar/Mostrar Formulario
============================ */
.product-toggle-form {
    text-align: left;
    margin: 20px 0;
}

.product-toggle-form .p-button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 250px;
    color: #fff;
}

.product-toggle-form .p-button-success {
    background-color: #668a67; /* Verde para el botón de crear */
}

.product-toggle-form .p-button-danger {
    background-color: #9b6a67; /* Rojo para el botón de cancelar */
}

.product-toggle-form .p-button:hover {
    opacity: 0.9;
}

/* ============================
   Estilos para el Formulario Crear Producto
============================ */
.add-product-form {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
    max-width: 800px;
    font-family: Arial, sans-serif;
}

/* Títulos del formulario */
.add-product-form h3 {
    font-size: 24px;
    color: #444;
    margin-bottom: 20px;
    text-align: left;
}

/* Contenedor para los campos de entrada */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
.add-product-form input,
.category-dropdown,
.status-dropdown {
    flex: 1;
    min-width: 200px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.add-product-form input:focus,
.category-dropdown:focus,
.status-dropdown:focus {
    border-color: #007bff;
    outline: none;
}

/* Contenedor para el botón de agregar/actualizar */
.add-product-section {
    margin-top: 20px;
    text-align: center;
}

.add-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: white;
}

.add-button.add {
    background-color: #668a67;
}

.add-button.add:hover {
    background-color: #355537;
}

.p-button-update {
    background-color: #668a67;
    color: white;
    border: none;
}

/* ============================
   Estilo de la Tabla de Productos
============================ */
/* Centrado del contenido de las celdas */
.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}

/* ============================
   Estilos de la Tabla para los botones
============================ */
/* Contenedor de los botones de acción */
.products-button-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los botones */
}

/* Botones generales */
.products-button-edit,
.products-button-delete {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s ease;
    color: #fff;
}

/* Botón Editar */
.products-button-edit {
    background-color: #668a67;
}

.products-button-edit:hover {
    background-color: #355537;
    transform: scale(1.05);
}

/* Botón Eliminar */
.products-button-delete {
    background-color: #9b6a67;
}

.products-button-delete:hover {
    background-color: #7f3736;
    transform: scale(1.05);
}

/* ============================
   Estilos de Tooltip para la Descripción
============================ */
.description-wrapper {
    position: relative;
    display: inline-block;
}

.description-cell {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita el texto a dos líneas */
    -webkit-box-orient: vertical;
}

.custom-tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.description-wrapper:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}

/* ============================
   Estilo de los diálogos de confirmación
============================ */

/* Contenedor de botones en el diálogo de confirmación */
/* Diseño personalizado para los diálogos de confirmación */

/* Estilo general del diálogo de confirmación */
.p-confirm-dialog .p-dialog {
    max-width: 500px;   /* Ancho máximo del diálogo */
    width: 100%;        /* Asegura que se ajuste al contenedor */
    border-radius: 8px; /* Bordes redondeados para una apariencia uniforme */
}

/* Encabezado del diálogo */
.p-confirm-dialog .p-dialog-header {
    font-size: 20px;
    font-weight: bold;
    color: #444; /* Color del texto del encabezado */
    text-align: center; /* Centra el texto del encabezado */
}

/* Contenido del diálogo */
.p-confirm-dialog .p-dialog-content {
    font-size: 16px;
    color: #555; /* Color del texto del mensaje */
    text-align: center; /* Centrar el contenido del mensaje */
    padding: 20px; /* Aumentar el padding para espaciar el contenido */
}

/* Contenedor de botones en el diálogo de confirmación */
.p-confirm-dialog .p-dialog-footer {
    padding: 20px;                /* Aumentar el padding del pie de diálogo */
    display: flex;                /* Alinea los botones en fila */
    justify-content: space-around; /* Distribuye el espacio entre los botones */
    align-items: center;           /* Centra los botones verticalmente */
    gap: 20px;                     /* Añade espacio entre los botones */
}

/* Estilo para el botón Aceptar */
.custom-accept-button {
    background-color: #668a67;    /* Verde similar al botón de éxito */
    border: none;
    color: white;
    padding: 12px;                /* Espaciado interno */
    font-size: 16px;              /* Tamaño de fuente */
    border-radius: 5px;           /* Bordes redondeados */
    width: 150px;                 /* Ancho fijo para los botones */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.custom-accept-button:hover {
    background-color: #2b5c2b;    /* Un tono más oscuro al pasar el ratón */
    transform: scale(1.05);       /* Aumenta ligeramente el tamaño */
}

/* Estilo para el botón Cancelar */
.custom-reject-button {
    background-color: #9b6a67;    /* Rojo similar al botón de cancelar */
    border: none;
    color: white;
    padding: 12px;                /* Espaciado interno */
    font-size: 16px;              /* Tamaño de fuente */
    border-radius: 5px;           /* Bordes redondeados */
    width: 150px;                 /* Ancho fijo para los botones */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.custom-reject-button:hover {
    background-color: #4e1e1e;    /* Un tono más oscuro al pasar el ratón */
    transform: scale(1.05);       /* Aumenta ligeramente el tamaño */
}
