/* ============================
   Estilos Generales
============================ */
/* src/Productos.css */

.productos-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite el desplazamiento en el contenedor */
    max-height: 80vh; /* Limita la altura máxima al 80% de la pantalla */
}

/* ============================
   Estilos de la Sección de Búsqueda
============================ */
/* General de la sección de búsqueda */
.search-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #f0f4f8;
    border-radius: 6px;
}

/* Estilo de Input */
.search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Botones de búsqueda y limpieza */
.search-button,
.clear-button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;

}

.clear-button {
    background-color: #d9534f;
}

.search-button:hover {
    background-color: #45a049;
}

.clear-button:hover {
    background-color: #c9302c;
}

.checkbox-group {
    display: flex;
    gap: 10px; /* Espacio entre cada checkbox-item */
    align-items: center;
    margin-left: 10px; /* Ajusta este valor para mover los checkboxes hacia la derecha */
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el checkbox y su label */
}

/* Oculta el icono de selección adicional */
.p-checkbox-box .p-checkbox-icon {
    display: none;
}

/* 3. Botones de Buscar y Limpiar */
.search-button {
    padding: 10px 15px;
    width: 100px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #668a67; /* Verde para el botón de buscar */
    color: white;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #355537; /* Verde más oscuro al pasar el mouse */
}

.clear-button {
    padding: 10px 15px;
    width: 120px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #9b6a67; /* Rojo para el botón de limpiar */
    color: white;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #7f3736; /* Rojo más oscuro al pasar el mouse */
}

/* ================================================================
   Estilos para el boton ocultar el formulario de Crear Producto
=================================================================== */

.product-toggle-form {
    text-align: left; /* Centra el botón */
    margin: 20px 0; /* Espaciado superior e inferior */
  }

  .product-toggle-form .p-button {
    padding: 12px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones */
    width: 250px; /* Ancho fijo */
  }


 
  /* Botón de ocultar formulario (peligro) */
  .product-toggle-form .p-button-danger {
    background-color: #9b6a67; /* Rojo */
    border: none;
  
  }



/* ============================================
   Estilos para el formulario Crear Producto
=============================================== */
/* Estilos generales para el formulario de agregar/editar producto */
.add-product-form {
    background-color: #fff; /* Fondo blanco */
    padding: 25px; /* Aumento del espaciado interno */
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    margin: 0 auto 20px; /* Centrar el formulario y margen inferior */
    max-width: 800px; /* Ancho máximo del formulario */
    font-family: Arial, sans-serif; /* Fuente más legible */
}

/* Títulos del formulario */
.add-product-form h3 {
    font-size: 24px; /* Tamaño de letra más grande */
    color: #444; /* Color de texto un poco más oscuro */
    margin-bottom: 20px; /* Mayor espacio debajo del título */
    text-align: left; /* Alinear el título a la izquierda */
}

/* Contenedor para los campos de entrada */
.form-row {
    display: flex; /* Usar flexbox */
    justify-content: space-between; /* Espacio entre los campos */
    align-items: center; /* Centrar verticalmente los campos */
    margin-bottom: 20px; /* Espacio entre filas */
}

/* Estilos para los campos de entrada */
.add-product-form input,
.category-dropdown,
.status-dropdown {
    padding: 12px; /* Espaciado interno aumentado */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 15px; /* Tamaño de letra aumentado */
    transition: border-color 0.3s ease-in-out; /* Transición más suave */
}

/* Estilos para el campo de entrada 'Nombre' */
.input-name {
    width: 72%; /* Ancho específico para el campo 'Nombre' */
}

/* Estilos para el campo de entrada 'Unidad de medida' */
.input-unit-measurement {
    width: 20%; /* Ancho específico para el campo 'Unidad de medida' */
}

/* Estilos para el campo de entrada 'Descripción' */
.input-description {
    width: 60%; /* Ancho específico para el campo 'Descripción' */
}

.input-stock {
    width: 30%; /* Ancho específico para el campo 'Descripción' */
}

/* Estilos para el dropdown de categoría */
.category-dropdown {
    width: 48%; /* Ancho específico para el dropdown */
}

/* Estilos para el dropdown de estado */
.status-dropdown {
    width: 48%; /* Ancho específico para el dropdown */
}

/* Efecto de enfoque en los campos de entrada */
.add-product-form input:focus,
.category-dropdown:focus,
.status-dropdown:focus {
    border-color: #007bff; /* Color de borde al enfocar */
    outline: none; /* Eliminar contorno por defecto */
}


/* ============================================================
   Estilos del Boton Crear Producto y Actualizar Producto
=============================================================== */

/* Contenedor para el botón de agregar/actualizar */
.add-product-section {
    margin-top: 20px; /* Margen superior para separación del contenido anterior */
    margin-bottom: 20px; /* Margen inferior para separación adicional */
    text-align: center; /* Centrar el botón dentro del contenedor */
}

/* Estilos generales para el botón */
.add-button {
    padding: 12px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    width: 100%; /* Ancho completo del contenedor */
    max-width: 250px; /* Ancho máximo del botón */
    font-size: 16px; /* Tamaño de letra */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para el color y la escala */
    box-shadow: 0px 4px 8px 
    rgba(0, 0, 0, 0.2); /* Sombra del botón */
}

/* Estilos para el botón de agregar producto */
.add-button.add {
    background-color: #668a67; /* Verde para el botón de agregar */
    color: white; /* Texto en blanco */
}

.add-button.add:hover {
    background-color: #355537; /* Color más oscuro al pasar el mouse */
}


/* Mensaje de retroalimentación */
.feedback-message {
    margin-top: 15px; /* Espacio encima del mensaje */
    padding: 10px; /* Espaciado interno */
    background-color: #c3e6cb; /* Fondo rojo claro */
    border: 1px solid #668a67; /* Borde más pronunciado */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centrar el mensaje */
    font-size: 14px; /* Tamaño de letra del mensaje */
}

.p-button-update {
    background-color: #668a67; /* Fondo verde claro */
    color: white; /* Texto verde oscuro */
    border: 1px solid #c3e6cb;
  }


/* ============================
   Estilo de la Tabla de Productos
============================ */
/* Opcional: Si necesitas que todo el contenido de las celdas esté centrado también */
.p-datatable .p-datatable-tbody > tr > td {
    text-align: center; /* Centra el texto dentro de las celdas de la tabla */
}

/* ======================================
   Estilos de la Tabla para los botones
========================================= */


/* Contenedor de los Botones de Acción */
.products-button-container {
    display: flex; /* Coloca los elementos en línea */
    align-items: center; /* Alinea verticalmente los botones */
    gap: 0.5rem; /* Espacio entre los botones */
}

/* Botones Generales */
.products-button-edit,
.products-button-delete {
    margin-right: 0.5px; /* Espacio entre botones */
    padding: 0.2rem 0.7rem; /* Ajusta el tamaño del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold; /* Hacer el texto más destacado */
    transition: background-color 0.3s, transform 0.3s ease; /* Transición suave para el fondo y el efecto de transformación */
}

/* Botón Editar */
.products-button-edit {
    background-color: #668a67; /* Color de fondo para editar */
    color: #ffffff; /* Color de texto blanco */
}

.products-button-edit:hover {
    background-color: #5a7a5a; /* Color de fondo al pasar el ratón para editar */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

/* Botón Eliminar */
.products-button-delete {
    background-color: #9b6a67; /* Color de fondo para eliminar */
    color: #ffffff; /* Color de texto blanco */
}

.products-button-delete:hover {
    background-color: #8a5858; /* Color de fondo al pasar el ratón para eliminar */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

/* Contenedor que envuelve la celda de descripción */
.description-wrapper {
    position: relative; /* Necesario para el posicionamiento del tooltip */
    display: inline-block; /* Muestra en línea */
}

/* Aplica un estilo para limitar la descripción */
.description-cell {
    max-width: 120px; /* Define el ancho máximo para la celda de descripción */
    overflow: hidden; /* Oculta el desbordamiento */
    text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
    white-space: normal; /* Permite varias líneas */
    display: -webkit-box; /* Necesario para limitar el número de líneas */

}

/* Tooltip personalizado */
.custom-tooltip {
    visibility: hidden; /* Por defecto, el tooltip está oculto */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    color: #fff; /* Texto blanco */
    text-align: center; /* Centra el texto del tooltip */
    border-radius: 6px; /* Bordes redondeados */
    padding: 8px; /* Espaciado interno */
    position: absolute; /* Posiciona el tooltip respecto al contenedor padre */
    z-index: 1; /* Asegura que el tooltip esté encima de otros elementos */
    bottom: 125%; /* Posiciona el tooltip por encima del texto */
    left: 50%; /* Centra horizontalmente el tooltip */
    transform: translateX(-50%); /* Ajusta el tooltip para que esté perfectamente centrado */
    width: 200px; /* Ancho fijo del tooltip */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s; /* Añade una transición suave */
}

/* Flecha para el tooltip */
.custom-tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Posiciona la flecha debajo del tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

/* Muestra el tooltip al pasar el cursor sobre la celda de descripción */
.description-wrapper:hover .custom-tooltip {
    visibility: visible;
    opacity: 1; /* Muestra el tooltip */
}

  
  
  