/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  overflow-y: auto; /* Solo este contenedor controla el desplazamiento vertical */
  /*justify-content: center; /* Centra horizontalmente */
  /*align-items: center;     /* Centra verticalmente */
}


.main-layout {
  display: flex; /* Usa flexbox para organizar los elementos (sidebar y main-content). */
  flex: 1; /* Permite que el main-layout ocupe todo el espacio disponible. */
  height: 100%; /* Asegura que el main-layout ocupe toda la altura del contenedor. */
  justify-content: flex-start; /* Alinea los elementos hacia la izquierda. */
}


.header {
  background-color: #4a90e2; /* Aplica un color de fondo azul al header. */
  color: white; /* Establece el color del texto dentro del header a blanco. */
  display: flex; /* Usa flexbox para organizar los elementos internos en una fila. */
  align-items: center; /* Centra verticalmente los elementos internos del header. */
  padding: 10px 20px; /* Aplica un espaciado interno de 10px en la parte superior e inferior y 20px en los lados. */
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  height: 100%; /* Ocupa toda la altura de su contenedor (main-layout). */
}

.main-content {
  flex: 1; /* Permite que el main-content ocupe el espacio restante. */
  padding: 20px; /* Espaciado interno. */
  background-color: #f7f9fc; /* Fondo del contenido principal. */
  height: 100%; /* Asegurar que el contenido ocupe toda la altura disponible */
  overflow-y: auto; /* Permitir desplazamiento si el contenido sobrepasa la altura */

}


