/* Header.css */



/* Contenedor principal del header */
.header-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Sombra sutil hacia abajo */
  background: linear-gradient(135deg, #eef1bf, #8ab0d9); /* Fondo degradado para que se integre */
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Borde inferior */
}

.header {
  width: 100%; /* Asegura que el header se expanda completamente */
}



/* Estilos para el logo con efecto de movimiento y giro */
.header-logo {
  width: 70px;
  height: auto;
  margin-right: 10px;
  animation: walkAndFlip 10s infinite ease-in-out;
  transform-origin: center;
}

/* Animación de "caminar" hacia la derecha, girar, y volver a la izquierda */
@keyframes walkAndFlip {
  0%, 100% {
      transform: translateX(0) rotateY(0deg); /* Inicio y fin en la izquierda sin rotación */
  }
  25% {
      transform: translateX(100px) rotateY(0deg); /* Moverse a la derecha sin rotación */
  }
  50% {
      transform: translateX(100px) rotateY(360deg); /* Girar en el lugar */
  }
  75% {
      transform: translateX(0) rotateY(360deg); /* Moverse hacia la izquierda después del giro */
  }
}
