/* ============================ Estilos para el Formulario Crear Producto ============================ */
.add-product-form {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
    max-width: 800px;
    font-family: Arial, sans-serif;
}

/* Títulos del formulario */
.add-product-form h3 {
    font-size: 24px;
    color: #444;
    margin-bottom: 20px;
    text-align: left;
}

/* Contenedor para los campos de entrada */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
.add-product-form input,
.category-dropdown,
.status-dropdown {
    flex: 1;
    min-width: 200px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.add-product-form input:focus,
.category-dropdown:focus,
.status-dropdown:focus {
    border-color: var(--color-borde-focus);
    outline: none;
}

/* Contenedor para el botón de agregar/actualizar */
.add-product-section {
    margin-top: 20px;
    text-align: center;
}

/* Botón de añadir/actualizar producto */
.add-button.add {
    background-color: var(--color-verde);
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-button.add:hover {
    background-color: var(--color-verde-oscuro);
}

.p-button-update {
    background-color: var(--color-verde);
    color: white;
    border: none;
}
