/* ============================
Sección de Búsqueda de Categorías
=========================== */

.category-search-section {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #f0f4f8;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.category-search-input {
    display: flex;
    gap: 10px;
    flex: 3;
}

.category-search-input .category-search-input-text {
    flex-grow: 1;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    min-width: 150px;
}

.category-search-dropdown {
    min-width: 150px;
    padding: 5px;
    font-size: 14px;
    margin-left: 10px;
}

.category-search-buttons .search-button,
.category-search-buttons .clear-button {
    padding: 15px 25px;
    border-radius: 6px;
    font-size: 17px;
    width: 150px;
    cursor: pointer;
    color: #fff;
    border: none;
    transition: background-color 0.3s, opacity 0.3s;
    margin-right: 10px;
}

.category-search-buttons .search-button {
    background-color: var(--color-verde);
}

.category-search-buttons .search-button:hover {
    background-color: var(--color-verde-oscuro);
}

.category-search-buttons .clear-button {
    background-color: var(--color-rojo);
}

.category-search-buttons .clear-button:hover {
    background-color: var(--color-rojo-oscuro);
}

.category-search-buttons .search-button:hover,
.category-search-buttons .clear-button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .category-search-section {
        flex-direction: column;
    }
    .category-search-input,
    .category-search-buttons .p-button {
        width: 100%;
        margin-bottom: 10px;
    }
}
